.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.taskDiv {
  width: 340px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.task {
  min-width: 100px;
  background-color: #8d0901;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  padding: 5px 10px;

  
}

.taskcompleted {
  width: 100px;
  background-color: white;
  border: 1px solid black;
  opacity: .8;
  color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  text-decoration: line-through #8d0901;
  text-decoration-style: double;
  font-size: .7rem;
  }
